{:deps
 {camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.2"}
  cheshire/cheshire                   {:mvn/version "5.8.1"}
  clj-http/clj-http                   {:mvn/version "3.9.1"}
  colorize/colorize                   {:mvn/version "0.1.1"}
  clojure.java-time/clojure.java-time {:mvn/version "0.3.2"}
  environ/environ                     {:mvn/version "1.1.0"}
  org.apache.commons/commons-text     {:mvn/version "1.9"}
  org.clojure/tools.cli               {:mvn/version "1.0.206"}}

 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps  {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                  :sha     "209b64504cb3bd3b99ecfec7937b358a879f55c1"}}
         :main-opts   ["-m" "cognitect.test-runner"]}

  :uberjar {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.0.216"}}
            :exec-fn      hf.depstar/uberjar
            :exec-args    {:aot true, :main-class closed-issues-bot.core, :jar "closed-issues-bot.jar"}}}}
